# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/

# Editor directories and files
.vscode/
.idea/
*.swp
*.swo

# Local caches & data
auto_engine/data/single_sites_cache.json
*.log

